VEX_SDK_PATH=/path/to/sdk/cpp/EXP/EXP_20240802_15_00_00/vexexp
VEX_TOOLS_PATH=/path/to/tools/cpp/toolchain_...
VEXCOM_BIN=/path/to/tools/vexcom/.../vexcom
# Defaults to directory name
#BIN_NAME=your-project
